.mobile-nav {
  display: none;
}

.mobile-nav-toggle.d-lg-none {
  display: none;
}

select {
  color: white !important;
}
@media (max-width: 767px) {
  select {
    color: black !important;
    margin: 0 !important;
    position: absolute;
    right: 6%;
    top: 30%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  select {
    color: black !important;
    margin: 0 !important;
    position: absolute;
    right: 7%;
    top: 30%;
  }
}

#header {
  height: 85px;
  transition: all 0.5s;
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3411764706);
}
@media (max-width: 767px) {
  #header {
    background-color: white;
    display: flex;
  }
}
#header .navbar-nav a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
#header .SideBar {
  width: 37px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #header .SideBar {
    display: flex;
  }
}
@media (max-width: 767px) {
  #header .SideBar {
    display: flex;
  }
}
#header .SideBar span {
  width: 100%;
  border: solid black 1px;
}
@media (min-width: 1201px) {
  #header .SideBar span {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #header .SideBar span {
    display: none;
  }
}
#header nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 93%;
}
#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header ul a {
  position: relative;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
}
@media (min-width: 768px) and (max-width: 991px) {
  #header ul a {
    display: none;
  }
}
@media (max-width: 767px) {
  #header ul a {
    display: none;
  }
}
#header ul a::after {
  content: "";
  display: block;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
  border: solid transparent 0.3px;
  position: absolute;
  bottom: 16%;
  left: 13%;
  width: 0%;
}
#header ul a:hover {
  color: #d08905;
  text-decoration: none;
}
#header ul a:hover::after {
  width: 72%;
  border: solid #d08905 0.3px;
}
#header .logo img {
  padding: 0;
  margin: 0px 0;
  width: 99px;
}
@media (max-width: 767px) {
  #header .logo img {
    width: 99px;
  }
}
@media (max-width: 767px) {
  #header .container {
    width: 81%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header .container {
    width: 76%;
  }
}

#header.header-scrolled,
#header.header-pages {
  height: 80px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#header.header-scrolled a,
#header.header-pages a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
#header.header-scrolled select,
#header.header-pages select {
  color: black !important;
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

.Main_SideBar {
  border: solid rgba(0, 0, 0, 0.3607843137) 1px;
  position: absolute;
  top: 100%;
  right: -37%;
  width: 50%;
  height: 1500px;
  background-color: white;
  box-shadow: -20px 5px 40px 0px rgba(0, 0, 0, 0.3607843137);
}
.Main_SideBar a {
  color: black;
  font-weight: bold;
  font-size: 21px;
}
.Main_SideBar .Expection {
  display: block !important;
  position: relative;
}
.Main_SideBar .Expection::after {
  content: "";
  display: block;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
  border: solid transparent 0.3px;
  position: absolute;
  width: 0% !important;
  bottom: 1% !important;
  left: 1% !important;
}
.Main_SideBar .Expection:hover {
  color: #1bb1dc;
  text-decoration: none;
}
.Main_SideBar .Expection:hover::after {
  width: 43% !important;
  border: solid #1bb1dc 0.3px;
}

.PosShow {
  right: 0%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .PosShow {
    display: none;
  }
}
@media (min-width: 1201px) {
  .PosShow {
    display: none;
  }
}

.Poshide {
  right: -107%;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .Poshide {
    display: none;
  }
}
@media (min-width: 1201px) {
  .Poshide {
    display: none;
  }
}

.About {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  transition-delay: 200ms;
}
@media (min-width: 768px) and (max-width: 991px) {
  .About {
    margin-top: 85px;
  }
}
@media (max-width: 767px) {
  .About {
    margin-top: 85px;
  }
}
.About .About_Title {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.About .About_Title h1 {
  font-size: 40px;
  color: white;
  z-index: 2;
  font-weight: bold;
  text-transform: capitalize;
}
.About::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2588235294);
}
.About video {
  width: 100%;
}
.About p {
  color: white;
  z-index: 3;
  font-size: 16px;
  font-weight: bold;
}
.About span {
  color: white;
  position: relative;
  z-index: 3;
  font-weight: bold;
  font-size: 71px;
}
@media (max-width: 767px) {
  .About span {
    font-size: 42px;
  }
}

.About2 {
  display: flex;
  height: 500px;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .About2 {
    flex-direction: column;
    height: 1000px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .About2 {
    flex-direction: column;
    height: 1000px;
  }
}
@media (min-width: 1201px) {
  .About2 {
    justify-content: space-between;
    padding: 0px 11px;
  }
}
.About2 .About2-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  width: 60%;
}
@media (max-width: 767px) {
  .About2 .About2-title {
    order: 2;
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .About2 .About2-title {
    order: 2;
    width: 100%;
    justify-content: center;
  }
}
.About2 .About2-title p {
  color: black;
  margin-top: 2px;
}
.About2 .About2-title blockquote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .About2 .About2-title blockquote p {
    font-size: 16px;
  }
}
.About2 .About2-title blockquote p:nth-of-type(2) {
  margin-top: 33px;
}
.About2 .carousel {
  width: 37%;
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .About2 .carousel {
    order: 1;
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .About2 .carousel {
    height: 56%;
    order: 1;
    width: 76%;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .About2 .carousel {
    height: 90%;
    width: 43%;
  }
}
.About2 .carousel img {
  height: 100%;
}

.Products {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% 95%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .Products {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 68px;
  }
}
.Products .Products-title {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.Products .Products-title p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 29px;
}
.Products .Products-title i {
  font-size: 33px;
  margin-bottom: 29px;
}
.Products .Products-cards {
  position: relative;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .Products .Products-cards {
    flex-direction: column;
    row-gap: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products .Products-cards {
    flex-direction: column;
    row-gap: 98px;
  }
}
.Products .Products-cards .Filtering {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 6px;
  width: 80%;
}
@media (max-width: 767px) {
  .Products .Products-cards .Filtering {
    row-gap: 10px;
    width: 100%;
    justify-content: center;
    margin-bottom: 92px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products .Products-cards .Filtering {
    width: 100%;
    justify-content: center;
    margin-bottom: 92px;
  }
}
.Products .Products-cards .Filtering .Sylinder {
  transition-delay: 100ms;
}
.Products .Products-cards .Filtering .Sylinder_description {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7803921569);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  opacity: 0;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-property: all;
}
.Products .Products-cards .Filtering .Sylinder_description dt,
.Products .Products-cards .Filtering .Sylinder_description dd {
  font-size: 15px;
}
@media (max-width: 767px) {
  .Products .Products-cards .Filtering .Sylinder_description dt,
  .Products .Products-cards .Filtering .Sylinder_description dd {
    font-size: 20px;
    width: 34%;
  }
}
.Products .Products-cards .Filtering .Sylinder_description:hover {
  opacity: 1;
}
.Products .Products-cards .Filtering .Redees,
.Products .Products-cards .Filtering .Sylinder,
.Products .Products-cards .Filtering .Shoulders,
.Products .Products-cards .Filtering .predicable,
.Products .Products-cards .Filtering .Oil_Refil,
.Products .Products-cards .Filtering .Jewllerly,
.Products .Products-cards .Filtering .Jar {
  width: 24.5%;
  height: 300px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Products .Products-cards .Filtering .Redees img,
.Products .Products-cards .Filtering .Sylinder img,
.Products .Products-cards .Filtering .Shoulders img,
.Products .Products-cards .Filtering .predicable img,
.Products .Products-cards .Filtering .Oil_Refil img,
.Products .Products-cards .Filtering .Jewllerly img,
.Products .Products-cards .Filtering .Jar img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .Products .Products-cards .Filtering .Redees,
  .Products .Products-cards .Filtering .Sylinder,
  .Products .Products-cards .Filtering .Shoulders,
  .Products .Products-cards .Filtering .predicable,
  .Products .Products-cards .Filtering .Oil_Refil,
  .Products .Products-cards .Filtering .Jewllerly,
  .Products .Products-cards .Filtering .Jar {
    width: 241px;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products .Products-cards .Filtering .Redees,
  .Products .Products-cards .Filtering .Sylinder,
  .Products .Products-cards .Filtering .Shoulders,
  .Products .Products-cards .Filtering .predicable,
  .Products .Products-cards .Filtering .Oil_Refil,
  .Products .Products-cards .Filtering .Jewllerly,
  .Products .Products-cards .Filtering .Jar {
    width: 362px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .Products .Products-cards .Filtering .Redees,
  .Products .Products-cards .Filtering .Sylinder,
  .Products .Products-cards .Filtering .Shoulders,
  .Products .Products-cards .Filtering .predicable,
  .Products .Products-cards .Filtering .Oil_Refil,
  .Products .Products-cards .Filtering .Jewllerly,
  .Products .Products-cards .Filtering .Jar {
    width: 32%;
    height: 275px;
  }
}
.Products .Products-cards .filterBtns {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  row-gap: 13px;
  padding: 0px 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products .Products-cards .filterBtns {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 5%;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 767px) {
  .Products .Products-cards .filterBtns {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 5%;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.Products .Products-cards .filterBtns .btn {
  background-color: #d08905;
  color: white;
  width: 100%;
}
@media (max-width: 767px) {
  .Products .Products-cards .filterBtns .btn {
    width: 118px;
    height: 52px;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Products .Products-cards .filterBtns .btn {
    width: 19%;
    height: 52px;
  }
}
.Products .Products-cards .filterBtns .btn:hover {
  background-color: black;
  color: white;
}

.filterElements {
  color: #ffffff;
  text-align: center;
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.activivation {
  background-color: black !important;
  box-shadow: none !important;
}

.FormAppere {
  width: 100%;
  height: 500px;
}
.FormAppere .formColor:focus {
  box-shadow: 0 0 0 0.2rem rgba(204, 136, 5, 0.31) !important;
  border-color: rgba(204, 136, 5, 0.31) !important;
}
@media (max-width: 767px) {
  .FormAppere label {
    font-size: 12px;
    font-weight: bold;
  }
}
.FormAppere .submiting {
  width: 80%;
  margin: auto;
  transform: translateY(0);
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
}
.FormAppere .submiting:hover {
  box-shadow: 1px 0px 12px 0.2rem rgba(204, 136, 5, 0.38) !important;
  width: 90%;
  transform: translateY(-5px);
}

.Quotation {
  height: 200px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 40%;
  position: relative;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.Quotation canvas {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.Quotation .Quotation_pt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Quotation .Quotation_pt1 p,
.Quotation .Quotation_pt1 h1 {
  color: #cd8904;
  font-weight: bold;
  z-index: 2;
}
@media (max-width: 767px) {
  .Quotation .Quotation_pt1 h1 {
    font-size: 19px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Quotation .Quotation_pt1 h1 {
    font-size: 35px;
  }
}
.Quotation .Quotation_pt1 p {
  font-family: "Ultra", serif;
}
@media (max-width: 767px) {
  .Quotation .Quotation_pt1 p {
    font-size: 13px;
  }
}
.Quotation .Quotation_pt2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Quotation .Quotation_pt2 button {
  border: solid #cd8904 1px;
  box-shadow: 0px 0px 5px #cd8904;
  color: #cd8904;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.Quotation .Quotation_pt2 button:hover {
  background-color: #cd8904;
  color: white;
}

.contactUs2 {
  width: 100%;
  height: 622px;
  background-color: rgba(246, 246, 246, 0.5882352941);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 14% 1fr;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 {
    height: 900px;
    grid-template-rows: 8% 92%;
  }
}
@media (max-width: 767px) {
  .contactUs2 {
    height: 900px;
    grid-template-rows: 8% 92%;
  }
}
.contactUs2 .contactUs2_pt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contactUs2 .contactUs2_pt1 h2 {
  color: #cf8806;
  font-weight: bold;
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt1 h2 {
    font-size: 19px;
  }
}
.contactUs2 .contactUs2_pt2 {
  display: flex;
  align-items: center;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container {
  height: 83%;
  display: flex;
  width: 1200px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container {
    flex-direction: column;
    width: 600px;
    height: 100%;
    border: solid rgba(0, 0, 0, 0.2509803922) 1px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2509803922);
    row-gap: 10px;
  }
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container {
    flex-direction: column;
    width: 270px;
    height: 100%;
    border: solid rgba(0, 0, 0, 0.2509803922) 1px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2509803922);
    row-gap: 10px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 {
    width: 100%;
    height: 58%;
    justify-content: center;
    row-gap: 9px;
  }
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 {
    width: 100%;
    height: 58%;
    justify-content: center;
    row-gap: 9px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon {
  display: flex;
  width: 90%;
  height: 21.25%;
  border-radius: 5px;
  background-color: #cc8804;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon {
    width: 100%;
    justify-content: flex-start;
    row-gap: 8px;
  }
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon {
    width: 100%;
    height: 80px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon:hover {
  box-shadow: 0px 0px 7px #cc8804;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_contactUs2_1 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_contactUs2_1 a {
  font-size: 27px;
  border-radius: 50%;
  padding: 17%;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_contactUs2_1 a {
    font-size: 20px;
    padding: 10px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_contactUs2_1 a:hover {
  background-color: white;
  color: #cc8804;
  transform: scale(1.1);
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 9px;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 p {
  margin: 0;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 > p {
  font-size: 16px;
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 > p {
    font-size: 14px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 p:nth-of-type(2) {
  font-size: 14px;
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_contactUs2_pt2_sec1 .inside_contactUs2_pt2_sec_icon .icon_Contact_2 p:nth-of-type(2) {
    font-size: 12px;
  }
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_pt2_body10_sec2 {
  width: 60%;
}
.contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_pt2_body10_sec2 iframe {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_pt2_body10_sec2 {
    width: 100%;
    height: 71%;
  }
}
@media (max-width: 767px) {
  .contactUs2 .contactUs2_pt2 .inside_contactUs2_pt2.container .inside_pt2_body10_sec2 {
    width: 100%;
    height: 60%;
  }
}

.foot {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75% 1fr;
  background-color: #cc8804;
  color: white;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .foot {
    height: 400px;
    grid-template-rows: 84% 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .foot {
    height: 400px;
    grid-template-rows: 84% 1fr;
  }
}
.foot .foot_pt1.container {
  display: flex;
}
@media (max-width: 767px) {
  .foot .foot_pt1.container {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .foot .foot_pt1.container {
    flex-wrap: wrap !important;
  }
}
.foot .foot_pt1.container .foot_sec1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .foot .foot_pt1.container .foot_sec1 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .foot .foot_pt1.container .foot_sec1 {
    width: 100%;
  }
}
.foot .foot_pt1.container .foot_sec1 .icons_foot {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
}
.foot .foot_pt1.container .foot_sec1 .icons_foot a {
  color: white;
  font-size: large;
  border: solid;
  border-radius: 50%;
  padding: 3%;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s linear all;
  margin-left: 10px;
}
.foot .foot_pt1.container .foot_sec1 .icons_foot a:hover {
  opacity: 1;
}
.foot .foot_pt1.container .foot_sec1 p:first-of-type {
  font-size: xx-large;
  font-weight: bold;
}
.foot .foot_pt1.container .foot_sec1 p:first-of-type + p {
  line-height: 1.4;
}
.foot .foot_pt1.container .foot_sec2,
.foot .foot_pt1.container .foot_sec4 {
  width: 20%;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .foot .foot_pt1.container .foot_sec2,
  .foot .foot_pt1.container .foot_sec4 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .foot .foot_pt1.container .foot_sec2,
  .foot .foot_pt1.container .foot_sec4 {
    width: 100%;
  }
}
.foot .foot_pt1.container .foot_sec2 p:first-of-type,
.foot .foot_pt1.container .foot_sec4 p:first-of-type {
  font-size: large;
  font-weight: bold;
}
.foot .foot_pt1.container .foot_sec2 ul {
  list-style: none;
  padding: 0;
  line-height: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.foot .foot_pt1.container .foot_sec2 ul li {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.3s linear all;
}
.foot .foot_pt1.container .foot_sec2 ul li:hover {
  opacity: 1;
}
.foot .foot_pt1.container .foot_sec2 ul li a {
  text-decoration: none;
  color: white;
}
.foot .foot_pt1.container .foot_sec4 ul {
  list-style: none;
  padding: 0;
  font-size: smaller;
}
.foot .foot_pt1.container .foot_sec4 ul span {
  font-weight: bold;
}
.foot .foot_pt2.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot .foot_pt2.container p {
  text-align: center;
}
@media (max-width: 767px) {
  .foot .foot_pt2.container p {
    margin: 0;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .foot .foot_pt2.container p {
    margin: 0;
    font-size: 13px;
  }
}
.foot .foot_pt2.container span {
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hidden {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.showing {
  opacity: 1;
  transform: translateX(0);
}

#preloader {
  border: solid black 1px;
  width: 20%;
  height: 30px;
  margin: auto;
  margin-top: 300px;
}/*# sourceMappingURL=main.css.map */